### Examining chunks.jsonl

In [ ]:
import json
import pandas as pd

In [2]:
with open("../data/processed/chunks.jsonl", "r", encoding="utf-8") as f:
    chunk_dicts = [json.loads(line) for line in f]

df = pd.DataFrame(chunk_dicts)
print(f"Loaded {len(df)} chunks.")
df.info()

Loaded 2713 chunks.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2713 entries, 0 to 2712
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uuid         2713 non-null   object
 1   text         2713 non-null   object
 2   title        2713 non-null   object
 3   source_url   2713 non-null   object
 4   categories   2713 non-null   object
 5   topic        2713 non-null   object
 6   images       2713 non-null   object
 7   summary      2713 non-null   object
 8   chunk_index  2713 non-null   int64
 9   char_start   2713 non-null   int64
 10  char_end     2713 non-null   int64
 11  created_at   2713 non-null   object
dtypes: int64(3), object(9)
memory usage: 254.5+ KB

In [3]:
df.duplicated(subset=['text', 'title', 'source_url', 'chunk_index']).sum()

np.int64(0)

In [4]:
df.head()

,uuid,text,title,source_url,categories,topic,images,summary,chunk_index,char_start,char_end,created_at
0,90a4913a-d951-5c8d-ac1b-ca7ff747285b,Discovery and exploration of the Solar System ...,Discovery and exploration of the Solar System,https://en.wikipedia.org/wiki/Discovery_and_ex...,[Category:Discovery and exploration of the Sol...,other,[https://upload.wikimedia.org/wikipedia/common...,Discovery and exploration of the Solar System ...,0,0,836,2025-09-27T23:14:54.228627+00:00
1,1c506b7f-1495-5bb5-88d1-90931bf91239,Telescopic observations resulted in the discov...,Discovery and exploration of the Solar System,https://en.wikipedia.org/wiki/Discovery_and_ex...,[Category:Discovery and exploration of the Sol...,other,[https://upload.wikimedia.org/wikipedia/common...,Discovery and exploration of the Solar System ...,1,836,1611,2025-09-27T23:14:54.228683+00:00
2,3a001811-fb43-5484-9f88-e64adee46a40,Observations of Solar System bodies with other...,Discovery and exploration of the Solar System,https://en.wikipedia.org/wiki/Discovery_and_ex...,[Category:Discovery and exploration of the Sol...,other,[https://upload.wikimedia.org/wikipedia/common...,Discovery and exploration of the Solar System ...,2,1611,2401,2025-09-27T23:14:54.228730+00:00
3,7da092fd-22d0-55a4-98c9-bb2b0e82b3ab,Pre-telescope\nThe first humans had limited un...,Discovery and exploration of the Solar System,https://en.wikipedia.org/wiki/Discovery_and_ex...,[Category:Discovery and exploration of the Sol...,other,[https://upload.wikimedia.org/wikipedia/common...,Discovery and exploration of the Solar System ...,3,2401,3073,2025-09-27T23:14:54.228780+00:00
4,7aa2ddd5-979c-514c-89b2-ba7d1c84e697,Many associated the classical planets (star-li...,Discovery and exploration of the Solar System,https://en.wikipedia.org/wiki/Discovery_and_ex...,[Category:Discovery and exploration of the Sol...,other,[https://upload.wikimedia.org/wikipedia/common...,Discovery and exploration of the Solar System ...,4,3073,4269,2025-09-27T23:14:54.228840+00:00

In [6]:
df['topic'].value_counts(dropna=False)

topic
moon                 1113
mars                  921
other                 468
space exploration     111
planets                73
animals in space       27
Name: count, dtype: int64